:root {
  @media (prefers-color-scheme: light) {
    --bg-color: #e4f0fa;
    --primary-color: #ff7c7c;
    --primary-text-color: #2b3c5b;
    --secondary-text-color: #7a8aa3;
    --card-bg-color: #e6eef8;
    --gradient-base: rgb(250, 177, 135);
    --gradient-1: rgb(250, 177, 135);
    --gradient-2: rgb(246, 117, 117);
  }

  @media (prefers-color-scheme: dark) {
    --bg-color: #121215;
    --primary-color: #8d8fd2;
    --primary-text-color: #dfe0fb;
    --secondary-text-color: #84849d;
    --card-bg-color: #18181c;
    --gradient-base: rgb(125, 90, 242);
    --gradient-1: rgb(145, 114, 247);
    --gradient-2: rgb(104, 61, 247);
    --component-s: #454254;
    --component: #2f2d36;
  }
}
