<div class="container task">
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row items-center justify-between self-start">
      <input type="checkbox" name="task-completion" id="task-completion" />
      <div class="tast-title flex-1">Default Task</div>
    </div>
    <div class="flex flex-row items-center justify-between self-end">
      <div class="edit-icon"></div>
      <div class="star-icon"></div>
      <div class="delete-icon"></div>
    </div>
  </div>
</div>
